@import '~bootstrap/scss/bootstrap';

img {
  width: 30%;
  height: auto;
}

@media (min-width: 576px) { 
  .jumbotron {
  padding: 1rem 1rem;
}
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
}

.list-card {
  width: 18rem;
  min-width: 18rem;
  margin: 1em;
}