@import '~bootstrap/scss/bootstrap';
* {
  box-sizing: border-box;
}
body {
  background-image: url("https://i.imgur.com/kZastKD.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial, sans-serif;
  margin-top: 3rem;
  min-height: 100vh;
}

img {
  height: auto;
  width: 40%;
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

p {
color: white;
font-family: 'Butterfly Kids',
cursive;
font-size: 3rem;
text-align: center;
}

.style-fonts {
font-family: 'Butterfly Kids',
cursive;
font-size: 2em;
font-weight: bold;
}

.add-grocery {
margin-bottom: 1rem;
}

.logo {
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.card {
  background-color: rgba(245, 245, 245, 0.4);
  margin: 1em;
  min-width: 18rem;
  width: 18rem;
}

.card-body  {
  background-color: rgba(245, 245, 245, 0.6);
}

.card-footer {
    background-color: rgba(0, 0, 0, 0.6);
}

#shoping-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 70% 30%;
  max-width: 800px;
}

#list-add div {
  background: #f2f2f2;
  padding: 10px;
}

.success {
  background-color: var(--green);
  color: white;
  font-size: 2em
}

.failure {
  background-color: var(--red);
  color: white;
  font-size: 2em
}

#system-message {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Butterfly Kids',
  cursive;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 2;
}

#list-message {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Butterfly Kids',
  cursive;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 2;
}

.bg-white {
  display: table;
  justify-content: center;
}

.auth-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 15%;
  }
}