@import '~bootstrap/scss/bootstrap';

body {
  font-family: arial, sans-serif;
  min-height: 100vh;
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&auto=format&fit=crop&w=2167&q=80");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 30%;
  height: auto;
}

@media (min-width: 576px) { 
  .jumbotron {
    padding: 1rem 1rem;
  }
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  width: 18rem;
  min-width: 18rem;
  margin: 1em;
  background-color: rgba(245, 245, 245, 0.4)
}

.card-body  {
  background-color: rgba(245, 245, 245, 0.6)
}

.card-footer {
    background-color: rgba(0, 0, 0, 0.6)
}

#shoping-list {
  max-width: 800px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
}

#list-add div {
  background: #f2f2f2;
  padding: 10px;
}
